body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.bg {
    background: url('../img/korea.jpg') center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-text {
    font-size: 72px;
    color: red;
    font-weight: bold;
}